<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ImageFtpServer" type="System.Configuration.AppSettingsSection"/>
    <section name="TravelApply" type="System.Configuration.AppSettingsSection"/>
    <section name="TMC3_1_Hotel" type="System.Configuration.AppSettingsSection"/>
  </configSections>
  <connectionStrings>
    <add name="default" connectionString=""/>
    <!--吉媒 TMC3 服务器地址-->
    <add name="TMC3" connectionString="Host=222.169.185.250;UserName=tmc3;Password=88691111;Database=tmc3db;Port=63305;CharSet=utf8;Allow Zero Datetime=true"/>
    <!--华为云 TMC3 服务器地址-->
    <!--<add name="TMC3" connectionString="Host=117.78.46.10;UserName=tmc3;Password=TMC388691111;Database=tmc3db;Port=3306;CharSet=utf8;Allow Zero Datetime=true"/>-->
    <!--吉媒 TMC2 服务器地址-->
    <add name="TMC2" connectionString="Server=139.212.251.20,61433;Database=Hotel_TC;user=tripglobal;pwd=7a1a5a9u3@#$%"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <ImageFtpServer>
    <!--图片服务器地址-->
    <add key="server" value="ftp://222.169.185.250:60021"/>
    <add key="user" value="hotelimage"/>
    <add key="pass" value="88691111"/>
    <add key="imgserver" value="http://image.tripg.com"/>
  </ImageFtpServer>
  <TravelApply>
    <!--出差申请单-->
    <add key="LanAddress" value="http://139.210.99.29:8021//index.php/commonAPI/"/>
    <add key="WanAddress" value="http://tmcapi.tripg.com/index.php/commonAPI/"/>
    <add key="ApiAddress" value="http://192.168.2.218:8886/OrderQuery.aspx"/>
    <add key="Sign" value="C910FDA8-28E6-4D0F-8783-EDCA849A1610"/>
    <add key="Key" value="CF60D280-46E4-43B6-B02E-615E7410BDF7"/>
  </TravelApply>
  <TMC3_1_Hotel>
    <add key="TMC3_1_PlatformId" value="14"/>
    <add key="TMC3_1_ProductId" value="12"/>
    <add key="TMC3_1_Sign" value="FE29D133-468D-403B-8428-0168C968CAC1"/>
    <add key="TMC3_1_Key" value="3BD8A90F-4AB8-420C-8261-E5393D62F5E0"/>
    <add key="IsPubilic" value="yes"/>
    <!--TMC3.1酒店华为云接口地址-->
    <add key="HuaWeiBatePublicHotelAPI" value="http://bate.tripg.com"/>
    <add key="HuaWeiPublicHotelAPI" value="http://a.tripg.com"/>
    <!--TMC3.1酒店吉媒接口地址-->
    <add key="JiMeiPublicHotelAPI" value="http://tmcapi.tripglobal.cn"/>
    <!--TMC3.1酒店测试接口地址-->
    <add key="TestHotelAPI" value="http://test.api.tripg.com"/>
    <!--TMC3.1酒店本地接口地址-->
    <add key="LocalhostHotelAPI" value="http://192.168.105.31:1000"/>
    <!--TMC3.1酒店本地28接口地址-->
    <add key="Localhost28HotelAPI" value="http://192.168.2.28:81"/>
    <!--<add key="LocalhostHotelAPI" value="http://localhost:8088"/>-->
    <!--TMC3.1酒店接口方法地址-->
    <add key="GetDefaultChannel" value="/HotelQunar/GetDefaultChannel"/>
    <add key="GetComHotelList" value="/HotelQunar/GetComHotelList"/>
    <add key="GetFuzzyHotelList" value="/HotelQunar/GetFuzzyHotelList"/>
    <add key="GetHotelRoomType" value="/HotelQunar/GetHotelRoomType"/>
    <add key="QueryRatePlan" value="/HotelQunar/QueryRatePlan"/>
    <add key="GetCityList" value="/HotelQunar/GetCityList"/>
    <add key="GetTgHotelImages" value="/HotelQunar/GetTgHotelImages"/>
    <add key="GetBizSectionName" value="/HotelQunar/GetBizSectionName"/>
    <add key="InsertHotelCollection" value="/HotelQunar/InsertHotelCollection"/>
    <add key="InsertHotelBrowserHistory" value="/HotelQunar/InsertHotelBrowserHistory"/>
    <add key="CreateOrder" value="/HotelQunar/CreateOrder"/>
    <add key="UpdateOrder" value="/HotelQunar/UpdateOrder"/>
    <add key="CancelOrder" value="/HotelQunar/Cancel"/>
    <add key="RefusedOrder" value="/HotelQunar/RefusedOrder"/>
    <add key="CancelChangedOrder" value="/HotelQunar/CancelChangedOrder"/>
  </TMC3_1_Hotel>
</configuration>
