<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="LocalIp" value="192.168.31.179"></add>
    <add key="LocalPort"  value="6000 "></add>
  </appSettings>
</configuration>
