<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ImageFtpServer" type="System.Configuration.AppSettingsSection"/>
  </configSections>
  <connectionStrings>
    <!--<add name="default" connectionString="server=192.168.88.10;database=ERPE7HR_1115;uid=sa;pwd=1qaz1QAZ" />-->
    <add name="default" connectionString="Host=localhost;UserName=root;Password=123456;Database=ysdzp_db;Port=3306;CharSet=utf8;Allow Zero Datetime=true;Allow User Variables=True;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <ImageFtpServer>
    <!--图片服务器地址-->
    <add key="server" value="ftp://222.169.185.250:60021"/>
    <add key="user" value="hotelimage"/>
    <add key="pass" value="88691111"/>
  </ImageFtpServer>
</configuration>
